[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][ConfigDialog]
DialogHeight=712
DialogWidth=539

[Containments][1][General]
advanced=false
animationsEnabled=false
appletOrder=2;3
durationTime=x1
iconSize=58
panelSize=13
panelTransparency=89
shadowOpacity=60
shadowSize=45
shadows=All
showGlow=false
thickMargin=2
zoomLevel=5

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.2199999988079071
type=org.kde.latte.default

[LayoutSettings]
background=
color=blue
lastUsedActivity=f30a946a-f49a-4a85-ab9c-f1148a0db8a7
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
